language: swift

matrix:
  include:
    - os: linux
      dist: trusty
      language: generic
      sudo: required
      env: SWIFT_VERSION=4.0.3

    - os: linux
      dist: trusty
      language: generic
      sudo: required
      env: SWIFT_VERSION=4.1.3

    - os: linux
      dist: trusty
      language: generic
      sudo: required
      env: SWIFT_VERSION=4.2

    - os: osx
      osx_image: xcode9.2
      env: SWIFT_VERSION=4.0.3

    - os: osx
      osx_image: xcode9.4
      env: SWIFT_VERSION=4.1.2

    - os: osx
      osx_image: xcode10
      env: SWIFT_VERSION=4.2

before_install:
  - sudo /bin/bash Tests/install-clang.sh
  - chmod u+x Tests/install-swift.sh
  - . Tests/install-swift.sh

script:
  - /bin/bash Tests/test-script.sh
